:root {
  /* color */
  --color-font: #242424;
  --color-border: rgba(133, 136, 150, 0.5);
  --color-background: #f4f7fa;
  --color-background-white: #fff;
  --color-placeholder: #242424;
  --color-button-font: #f8f9fa;
  --color-button-able: #1b1c32;
  --color-button-disable: #e0e2e7;

  /* size */
  --margin-bottom: 10px;
  --border-radius: 3px;
}

* {
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
}

ul,
li {
  margin: 0;
  padding: 0;
  list-style: none;
}

button {
  width: 100%;
  padding: 5px 15px;
  border: none;
  outline: none;
  background-color: transparent;
  cursor: pointer;
}

.sr-only {
  position: absolute;
  z-index: -100;
  width: 1px;
  height: 1px;
  overflow: hidden;
  opacity: 0;
}

.main-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  font-family: "Open Sans", sans-serif;
  color: var(--color-font);
  background: url("https://cdn.dribbble.com/users/143350/screenshots/14052412/media/27ab3785352e64f357bc1608bae74361.png")
    no-repeat center/cover;
}

.main-container__title {
  font-size: 1.5rem;
  margin: 0 0 calc(var(--margin-bottom) * 2);
}

.select__category-container {
  padding: 1.5em;
  border-radius: var(--border-radius);
  background-color: rgba(255, 255, 255, 0.25);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
}
.dropdown {
  position: relative;
}

.select__dropdown {
  color: var(--color-placeholder);
  border: 1px solid var(--color-border);
  border-radius: var(--border-radius);
  margin-bottom: var(--margin-bottom);
}

.select__dropdown:hover {
  background-color: rgba(255, 255, 255, 0.25);
  box-shadow: 0 2px 16px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
}

.select__categories {
  width: 100%;
  position: absolute;
  max-height: 0;
  overflow: hidden;
  border: 1px solid transparent;
  border-radius: var(--border-radius);
  transition: max-height 300ms ease;
}

.select__categories.show {
  max-height: 230px;
  border-color: var(--color-border);
  background-color: var(--color-background-white);
}

.select__category {
  background-color: var(--color-background-white);
}
.select__category:hover {
  background-color: #f2f2f2;
}

.select__category:first-child .select__btn {
  border-radius: var(--border-radius) var(--border-radius) 0 0;
}

.select__category:last-child .select__btn {
  border-radius: 0 0 var(--border-radius) var(--border-radius);
}

.select__menu-list {
  height: 175px;
  overflow-y: scroll;
  margin-bottom: var(--margin-bottom);
}

.select__menu {
  font-size: 0.875rem;
  padding: 0.5em;
  cursor: pointer;
}

.select__menu:not(:last-child) {
  border-bottom: 1px solid var(--color-border);
}

.select__menu:hover {
  background-color: rgba(255, 255, 255, 0.25);
  box-shadow: 0 2px 16px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
}

.select__order-btn {
  color: var(--color-button-font);
  background-color: var(--color-button-able);
  border-radius: var(--border-radius);
}

.select__order-btn:disabled {
  background-color: var(--color-button-disable);
  cursor: not-allowed;
}
